

@{
	ViewBag.Title = "Login";
	Layout = null;
	<h2>Login</h2>


}
@using (Html.BeginForm())
{
	<p> Usuario: @Html.TextBox("username")</p>
	<p> Password: @Html.TextBox("passw")</p>
	<input type ="submit"ingresar">

}
@if (ViewBag.Error!= null){
	<p style ="color:red" >@ViewBag.Error</p>
}